<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- <link rel="stylesheet" href="assets/css/app.css"> -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body class="">
    <nav class="navbar sticky-top navbar-expand-lg bg-white shadow z-3">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/img/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fw-bold active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-project">Add Project</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {{#if isLogin}}
                        <li class="nav-item dropdown me-3">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hallo, {{ user }}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Profile
                                        <i class="fa-solid fa-user ms-2 text-secondary"></i> 
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/logout">Logout <i class="fa-solid fa-right-from-bracket text-danger ms-2"></i></a></li>
                            </ul>
                        </li>
                    {{else}}
                    <li class="nav-item"> <a class="nav-link" href="/register">Register</a> </li>
                    <li class="nav-item me-3"> <a class="nav-link" href="/login">Login</a> </li>
                    {{/if}}
                    <li class="nav-item"><a href="/contact" class="btn btn-custom-dark rounded-pill">Contact Me</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="mt-5">
        <section>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div
                                class="h-100 col-md-6 col-12 text-start d-flex flex-column justify-content-between gap-3">
                                <h1>Hi welcome to my hut</h1>
                                <p class="text-break" style="text-align: justify;">Halo, perkenalkan, saya Restu Wibowo,
                                    lulusan ilmu komputer dari Universitas Pakuan
                                    Bogor dengan
                                    usia 25 tahun, tinggi 175cm, dan berat badan 70kg. Saya memiliki semangat belajar
                                    yang tinggi
                                    dan keyakinan bahwa kombinasi pendidikan dan pengalaman kerja saya dapat menjadi
                                    kontribusi
                                    positif di berbagai lingkungan kerja. Saya siap untuk menghadapi tantangan baru dan
                                    berkolaborasi dalam mencapai tujuan bersama.
                                </p>
                                <div class="">
                                    <a href="/contact" class="btn btn-custom-dark rounded-pill me-3">Contact Me</a>
                                    <a href="" class="text-decoration-none text-muted">Download CV <i
                                            class="fa-solid fa-download"></i></a>
                                </div>
                                <div class="socmed fs-1 mx-auto mx-md-0">
                                    <a href="https://www.linkedin.com/in/restu16/" target="_blank"><i
                                            class="fa-brands fa-linkedin"></i></a>
                                    <a href="https://www.instagram.com/ut.res/" target="_blank"><i
                                            class="fa-brands fa-square-instagram"></i></a>
                                    <a href="https://www.facebook.com/rest.wibowo/" target="_blank"><i
                                            class="fa-brands fa-square-facebook"></i></a>
                                    <a href="https://www.twitter.com/restu_wibowo16" target="_blank"><i
                                            class="fa-brands fa-square-twitter"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 d-flex justify-content-center mt-3 mt-md-0">
                                <div class="card shadow-sm" style="width: 24rem">
                                    <img src="assets/img/mypic.jpg" class="w-100 rounded-top" alt="">
                                    <div class="card-body text-center">
                                        <h1>Restu Wibowo</h1>
                                        <h6>Fullstack Developer</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {{#if projects.length}}
         <section class="mt-5" id="myProject">
            <div class="bg-white shadow py-4">
                <h1 class="text-center fw-bold my-5">  MY PROJECT</h1>
                <div class="container">
                    <div class="row">
                        {{#each projects}}
                        {{!-- {{#if (eq this.user this.author)}} --}}
                        <div class="col-md-6 col-lg-4 col-12 m  b-3">
                            <div class="card" style="min-height: 37rem;">
                                <img src="/uploads/{{this.image}}" class="card-img-top  object-fit-cover" style="height: 275px;"  alt="gambar">
                                <div class="card-body d-flex flex-column">
                                    <h4 class="text-uppercase text-break">{{this.project_name}}</h4>
                                    <p class="text-muted mb-0">Duration : {{ this.duration_project }}</p>
                                    <p class="text-muted">Created By : {{this.author}}</p>
                                    <p class="text-break" style="text-align: justify;">{{this.subs_desc}}<a href="/project/detail/{{this.id}}" target="_blank">...Read More</a></p>
                                    <div class="d-flex gap-3 fs-2 mb-4 mt-auto" id="iconTech">
                                        {{#each this.tech}}
                                            <i class="fa-brands fa-{{@this}}"></i>               
                                        {{/each}}
                                    </div>
                                    
                                    {{!-- {{#if this.isLogin}} --}}
                                    <div class="d-flex justify-content-between align-items-center gap-2">
                                        <a href="/project/edit/{{this.id}}" class="btn btn-custom-dark flex-grow-1">Edit</a>
                                        <button data-id="{{this.id}}" onclick="confirmDelete(this)" class="btn btn-custom-dark flex-grow-1">Delete</button>
                                    </div>
                                    {{!-- {{/if}} --}}
                                </div>
                            </div>
                        </div>
                        {{!-- {{/if}} --}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
        {{/if}}
    </main>

    <!-- <script src="assets/js/nav.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script>
        const successMessage = `{{messages.success}}`;
        const errorMessage = `{{messages.error}}`;
        if(successMessage){
            Swal.fire({
            toast: true,
            title : 'Yeay!',
            text : successMessage,
            icon : 'success',
            position : 'top-end',
            showConfirmButton: false,
            timerProgressBar: true,
            timer: 3000
        });
        } else if (errorMessage) {
            Swal.fire({
            toast: true,
            title: 'Opps!',
            html: errorMessage,
            icon: 'error',
            position: 'top-end',
            showConfirmButton: false,
            timerProgressBar: true,
            timer:3000
        });
        }
    </script>

    <script>
        function confirmDelete(e) {
            const projectId = e.getAttribute('data-id');
            
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(function (result){
                if(result.isConfirmed){
                    window.location.href = `/project/delete/${projectId}`
                }
            })
        }
    </script>
</body>

</html>